################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Ignora tudo dentro destas pastas em qualquer nível da hierarquia de pastas
**/.vs
**/obj
**/bin
**/Debug